<!DOCTYPE html>
<html
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}"/>
</head>
<body>
<div>
    <span id="semester">hi</span>
</div>
<div class="text-center">
    <img width="200px" style="border-radius: 50%" class="img-fluid img-circle" src="/resources/default-avatar.jpg">
    <h3 style="color: var(--main-bg-color)" th:text="${name}" class="pt-3 text-bold"></h3>
</div>

<!--    Information card-->
<div th:if="${flashMessage}" th:class="${'flash ' + flashType}" id="flashMessage">
    <div th:class="${'flash__icon ' + flashType}">
        <i th:if="${flashType == 'failed'}" class="icon fa fa-times-circle-o"></i>
        <i th:if="${flashType == 'success'}" class="icon fa fa-check"></i>
    </div>
    <p th:text="${flashMessage}"></p>
</div>
<div class="section section-tabs">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div id="nav-tabs">
                    <!-- Tabs with icons on Card -->
                    <div class="card card-nav-tabs w-100">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a onclick="renderTab(event, this)" href="#about" class="py-2 px-3 mr-5" data-toggle="tab">
                                    <i class='font-style fas fa-grin-alt'></i>
                                    About
                                </a>
                            </li>
                            <li >
                                <a onclick="renderTab(event, this)" class="py-2 px-3 mr-5" href="#contact" data-toggle="tab">
                                    <i class="font-style fa fa-address-book" aria-hidden="true"></i>
                                    Contact
                                </a>
                            </li>
                            <li >
                                <a onclick="renderTab(event, this)" class="py-2 px-3 mr-5" href="#academic" data-toggle="tab">
                                    <i class="font-style fa-solid fa-book"></i>
                                    Academic
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="about">
                                <table class="table" width="80px" align="center">
                                    <tbody>
                                    <tr>
                                        <td class="text-right">Full Name:</td>
                                        <td style="text-align:left;"><b th:text="${name}"></b></td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">Date of Birth:</td>
                                        <td style="text-align:left;"><b th:text="${dob}"></b></td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">Address:</td>
                                        <td style="text-align:left;"><b th:text="${address}"></b></td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">Phone:</td>
                                        <td style="text-align:left;"><b th:text="${phone}"></b></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="contact">
                                <table class="table" width="80px" align="center">
                                    <tbody>
                                    <tr>
                                        <td class="text-right">Email:</td>
                                        <td style="text-align:left;"><b th:text="${email}"></b></td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">Phone:</td>
                                        <td style="text-align:left;"><b th:text="${phone}"></b></td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">Workplace:</td>
                                        <td style="text-align:left;"><b th:text="${workplace}"></b>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="academic">
                                <table class="table" width="80px" align="center">
                                    <tbody>
                                    <tr>
                                        <td class="text-right">Major:</td>
                                        <td style="text-align:left;"><b th:text="${major}"></b></td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">Enrollment Year:</td>
                                        <td style="text-align:left;"><b th:text="${enrollment_year}"></b></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
