<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace="~{/layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{:: #home-header},
                                                ~{:: #home-nav},
                                                ~{:: #home-main-content},
                                                ~{:: #home-footer}
                                               )}">
<head>
    <title>ADD USER</title>
    <th:block id="home-static-resources">
        <script type="text/javascript" th:src="@{/javascript/home.js}"></script>
        <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/paper.css}"/>
    </th:block>
</head>
<body>
<div id="home-header" th:replace="~{/fragments/app-fragments :: header}"></div>
<div id="home-nav" th:replace="~{/fragments/navbar :: nav-admin}"></div>

<div id="home-main-content"  class="portlet-box p-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center mt-4">Add Exam Plan</h2>
                    <form th:action="@{/admin/add-plan}" method="post" th:object="${plan}" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="name" aria-describedby="emailHelp" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="date">Date:</label>
                            <input type="datetime-local" class="form-control" id="date" aria-describedby="emailHelp" name="date" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>

