<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace="~{/layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{:: #home-header},
                                                ~{:: #home-nav},
                                                ~{:: #home-main-content},
                                                ~{:: #home-footer}
                                               )}">
<head>
    <title>RESET PASS</title>
    <th:block id="home-static-resources">
        <script type="text/javascript" th:src="@{/javascript/home.js}"></script>
        <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/list-student.css}"/>
    </th:block>
</head>
<body>
<div id="home-header" th:replace="~{/fragments/app-fragments :: header}"></div>
<div id="home-nav" th:replace="~{/fragments/navbar :: nav-admin}"></div>
<div id="home-main-content" class="portlet-box p-3">
    <div class="table-responsive">
        <h2 class="text-center mt-4">RESET PASSWORD LIST</h2>

        <table class="table" id="resetpass">
            <th class="student-header-table pt-2">N.o</th>
            <th class="student-header-table pt-2">Email</th>
            <th class="student-header-table pt-2">Time</th>
            <th class="student-header-table pt-2">Action</th>
            <tr th:each="re, start : ${reset}">
                <td class="student-header-table pt-2" th:text="${start.index + 1}"></td>
                <td class="student-id pt-2" th:text="${re.account.email}"></td>
                <td class="student-id pt-2" th:text="${re.time}"></td>
                <td class="student-id pt-2">
                    <form th:action="@{/admin/reset-password/send}" method="post">
                        <input type="hidden" name="email" th:value="${re.account.email}" />
                        <button type="submit" class="btn btn-info">Send</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="home-footer" th:replace="~{/fragments/app-fragments :: footer}">
    Footer
</div>
</body>
</html>
