<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace="~{/layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{:: #home-header},
                                                ~{:: #home-nav},
                                                ~{:: #home-main-content},
                                                ~{:: #home-footer}
                                               )}">
<head>
    <title>USER MANAGEMENT</title>
    <th:block id="home-static-resources">
        <script type="text/javascript" th:src="@{/javascript/home.js}"></script>
        <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/list-student.css}"/>
    </th:block>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
<div id="home-header" th:replace="~{/fragments/app-fragments :: header}"></div>
<div id="home-nav" th:replace="~{/fragments/navbar :: nav-admin}"></div>
<div id="home-main-content" class="portlet-box p-3">
    <div class="table-responsive">
        <h2 class="text-center mt-4">USER LIST</h2>

        <a th:href="@{/admin/register-account}"><button class="btn btn-danger" style="float: right;">Add User</button></a><br><br>

        <table class="table" id="userTable">
                <th class="student-header-table pt-2">N.o</th>
                <th class="student-header-table pt-2">Name</th>
                <th class="student-header-table pt-2">Email</th>
                <th class="student-header-table pt-2">Role</th>
                <th class="student-header-table pt-2">Action</th>
            <tr th:each="user, start : ${userList}">
                <td class="student-header-table pt-2" th:text="${start.index + 1}"></td>
                <td class="student-id pt-2" th:text="${user.name}"></td>
                <td class="student-id pt-2" th:text="${user.email}"></td>
                <td class="student-id pt-2" th:text="${user.role}"></td>
                <td class="student-id pt-2">
                    <a th:href="@{/admin/update-user-status/{id} (id=${user.id})}" th:onclick="'updateStatus(' + ${user.id} + ', ' + ${user.isActive} + ');'">
                        <button class="btn btn-info">Edit</button>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="home-footer" th:replace="~{/fragments/app-fragments :: footer}">
    Footer
</div>
</body>
</html>
