<!DOCTYPE HTML>
<html
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8" />
    <title>App Fragments</title>
</head>
<body>

<!-- Header -->
<div id="header" class="header" th:fragment="header">
    <div class="px-5 navbar navbar-brand navbar-expand-lg navbar-light bg-color navbar-custom">
        <a href="#" class="navbar-brand logo-header">
            <img th:src="@{/images/web-logo.png}" alt="logo">
            <br>
            <span class="sfont" style="padding-left: 0.4em">MultiA</span>
        </a>

        <div class="d-flex">
            <a th:href="@{/password}" class="logout-icon inactive-link mr-4">
                <i class="fa fa-key"></i>
            </a>
            <a th:href="@{/logout}" class="logout-icon inactive-link">
                <i class="fa fa-solid fa-sign-out"></i>
            </a>
        </div>
    </div>
</div>

<!-- Empty element -->
<div th:fragment = "none">
</div>

<!-- Footer -->
<div th:fragment="footer" class="main-footer">
    <strong data-original-title="" title="">Copyright © 2023 multia.tdtu.edu.vn</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block" data-original-title="" title="">
        <b data-original-title="" title="">Version</b> 1.0.0
    </div>
</div>

</body>
</html>