nav {
    float: left;
    width: 25%;
    min-height: 500px;
}

article {
    float: left;
    padding: 20px;
    width: 75%;
    background-color: #f8f8f8;
    min-height: 500px;
    position: relative;
}

section {
	background-color: var(--sub-bg-color);
	margin-bottom: 40px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

section:after {
    content: "";
    display: table;
    clear: both;
}


@media ( max-width : 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}

#home-nav > ul > li:not(:first-child) {
	padding: 10px;
	color: #fff;
	border-top: 1px solid #eee;
	position: relative;
}

#home-nav > ul > li:not(:first-child):not(.active):hover {
	background: var(--sub-bg-color);
}

#home-nav > ul > li:last-child {
	border-bottom: 1px solid #eee;
}

#home-nav > ul > li:not(:first-child) a {
	display: block;
	width: 100%;
}

#home-nav > ul > li:not(:first-child).active {
	font-weight: bold;
	background: var(--list-item-nav);
	border-top: 0px;
}

#home-nav > ul > li:not(:first-child).active a {
	color: #fff;
}

#home-nav > ul > li:not(:first-child).active::after {
	content: "";
	border: 10px solid;
	position: absolute;
	top: 50%;
	right: 0;
	margin: 0;
	padding: 0;
	border-color: transparent #f8f8f8 transparent transparent;
	transform: translateY(-50%);
}


@keyframes drop-in-fade-out {
  0% {
    opacity: 0;
    visibility: visible;
    transform: translate3d(0, -200%, 0);
  }
  12% {
    transform: translate3d(0, 0, 0);
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
  80% {
    opacity: 0;
  }
  100% {
    visibility: hidden;
    transform: translate3d(75%, 0, 0);
  }
}

.animate--drop-in-fade-out {
  animation: drop-in-fade-out 3.5s 0.4s cubic-bezier(.32, 1.75, .65, .91);
}


@-webkit-keyframes drop-in-fade-out {
  0% {
    opacity: 0;
    visibility: visible;
    -webkit-transform: translate3d(0, -200%, 0);
  }
  12% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
  }
  80% {
    opacity: 0;
  }
  100% {
    visibility: hidden;
    -webkit-transform: translate3d(75%, 0, 0);
  }
}

@-moz-keyframes drop-in-fade-out {
  /* Same as above, replace -webkit- with -moz- */
}

@-o-keyframes drop-in-fade-out {
  /* Same as above, replace -webkit- with -o- */
}

@-ms-keyframes drop-in-fade-out {
  /* Same as above, replace -webkit- with -ms- */
}

.flash {
	display: block;
	position: fixed;
	top: 30px;
	right: 25px;
	width: 350px;
	padding: 20px 25px 20px 85px;
	font-size: 16px;
	font-weight: 400;
	color: #ff4d4d;
	background-color: #FFF;
	border: 2px solid #ff4d4d;
	border-radius: 2px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
	opacity: 0;
}

.flash.success {
	border-color: #51a626 !important;
	color: #51a626 !important;
}

.flash__icon.success {
	background: #51a626 !important;
}

.flash__icon {
	position: absolute;
	top: 50%;
	left: 0;
	width: 1.8em;
	height: 100%;
	padding: 0 0.4em;
	background-color: #ff4d4d;
	color: #FFF;
	font-size: 36px;
	font-weight: 300;
	transform: translate(0, -50%);
}

.flash__icon .icon {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}