<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <script type="text/javascript" th:src="@{/javascript/password.js}"></script>

    <script>
        function checkPassword() {
            var password = document.getElementById("password1").value;
            var confirmPassword = document.getElementById("password2").value;

            if (password !== confirmPassword) {
                alert("Hai mật khẩu không giống nhau!");
            }
            else {
                alert("Đổi mật khẩu thành công!");
            }
        }
    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">Change Password</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <form method="post" id="passwordForm" action="/password" enctype="application/x-www-form-urlencoded">
                <input class="input-lg form-control" name="oldpassword" id="oldpassword" placeholder="Old Password" autocomplete="off">
                <input style="margin-top: 10px" class="input-lg form-control" name="newpassword" id="newpassword" placeholder="New Password" autocomplete="off">
                <input style="margin-top: 10px" class="input-lg form-control" name="confirmpassword" id="confirmpassword" placeholder="Repeat Password" autocomplete="off">
                <input style="margin-top: 10px" type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg" data-loading-text="Changing Password..." value="Change Password" onclick="checkPassword()">
            </form>
        </div><!--/col-sm-6-->
    </div><!--/row-->
</div>
</body>
</html>